In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
import yfinance as yf

from sqlalchemy import create_engine, Table, Column, Integer,Float, String, MetaData

In [2]:
# Download stock price data
def download_stock_data(ticker, start_date, end_date):
    stock_data = yf.download(ticker, start=start_date, end=end_date)
    return stock_data

# Preprocess data and create input sequences
def preprocess_data(data, sequence_length):
    sequences = []
    for i in range(len(data) - sequence_length):
        sequence = data[i:i+sequence_length].values
        target = data[i+sequence_length]
        sequences.append((sequence, target))
    return sequences

# Split data into training and testing sets
def split_data(data, test_size=0.2):
    train_data, test_data = train_test_split(data, test_size=test_size, shuffle=False)
    return train_data, test_data

# Train linear regression model
def train_model(X_train, y_train):
    model = LinearRegression()
    model.fit(X_train, y_train)
    return model
 
# Evaluate model on test data
def evaluate_model(model, X_test, y_test):
    predictions = model.predict(X_test)
    mse = mean_squared_error(y_test, predictions)
    return mse

In [3]:
# Create a list to append the tickers dataframes 
# Usar en caso de trabajar con mas de un ticker
dfs = []

In [7]:
# Download stock data
ticker = 'goog'

start_date = '2024-08-05'
end_date = '2024-08-06'
stock_data = download_stock_data(ticker, start_date, end_date)

[*********************100%%**********************]  1 of 1 completed

In [8]:
df = (
    pd.DataFrame(stock_data)
    .reset_index()
    .rename(
        columns={
            "Date": "date",
            "Open": "open",
            "High": "high",
            "Low": "low",
            "Close": "close",
            "Adj Close": "adj_close",
            "Volume": "volume",
        }
    )
)
df["symbol"] = ticker
df = df[["date", "symbol", "open", "high", "low", "close", "adj_close", "volume"]]
df = df.set_index("date")

In [9]:
# Display the first few rows of the DataFrame
df.sort_values(by=['date'], inplace=True, ascending=False)
df.head()

,symbol,open,high,low,close,adj_close,volume
date,,,,,,,
2024-08-05,goog,157.369995,165.940002,156.600006,160.639999,160.639999,34907800

In [16]:
# Usar en caso de trabajar con mas de un ticker
dfs.append(df)
dfs

[           symbol        open        high         low       close   adj_close  \
 date
 2020-01-02   goog   67.077499   68.406998   67.077499   68.368500   68.290787
 2020-01-03   goog   67.392998   68.625000   67.277199   68.032997   67.955666
 2020-01-06   goog   67.500000   69.824997   67.500000   69.710503   69.631264
 2020-01-07   goog   69.897003   70.149498   69.518997   69.667000   69.587814
 2020-01-08   goog   69.603996   70.579002   69.542000   70.216003   70.136192
 ...           ...         ...         ...         ...         ...         ...
 2024-07-24   goog  175.389999  177.949997  173.570007  174.369995  174.369995
 2024-07-25   goog  174.250000  175.199997  169.050003  169.160004  169.160004
 2024-07-26   goog  168.770004  169.839996  165.865005  168.679993  168.679993
 2024-07-29   goog  170.500000  172.160004  169.720001  171.130005  171.130005
 2024-07-30   goog  171.830002  172.949997  170.119995  171.860001  171.860001

               volume
 date
 2020-01-02  28132000
 2020-01-03  23728000
 2020-01-06  34646000
 2020-01-07  30054000
 2020-01-08  30560000
 ...              ...
 2024-07-24  31250700
 2024-07-25  28967900
 2024-07-26  25150100
 2024-07-29  13768900
 2024-07-30  13681400

 [1151 rows x 7 columns],
            symbol        open        high         low       close   adj_close  \
 date
 2020-01-02   msft  158.779999  160.729996  158.330002  160.619995  154.215652
 2020-01-03   msft  158.320007  159.949997  158.059998  158.619995  152.295425
 2020-01-06   msft  157.080002  159.100006  156.509995  159.029999  152.689041
 2020-01-07   msft  159.320007  159.669998  157.320007  157.580002  151.296906
 2020-01-08   msft  158.929993  160.800003  157.949997  160.089996  153.706818
 ...           ...         ...         ...         ...         ...         ...
 2024-07-24   msft  440.450012  441.480011  427.589996  428.899994  428.899994
 2024-07-25   msft  428.799988  429.799988  417.510010  418.399994  418.399994
 2024-07-26   msft  418.200012  428.920013  417.269989  425.269989  425.269989
 2024-07-29   msft  431.579987  432.149994  424.700012  426.730011  426.730011
 2024-07-30   msft  427.720001  429.049988  417.359985  422.920013  422.920013

               volume
 date
 2020-01-02  22622100
 2020-01-03  21116200
 2020-01-06  20813700
 2020-01-07  21634100
 2020-01-08  27746500
 ...              ...
 2024-07-24  26805800
 2024-07-25  29943800
 2024-07-26  23583800
 2024-07-29  15125800
 2024-07-30  32687600

 [1151 rows x 7 columns],
            symbol        open        high         low       close   adj_close  \
 date
 2020-01-02   amzn   93.750000   94.900497   93.207497   94.900497   94.900497
 2020-01-03   amzn   93.224998   94.309998   93.224998   93.748497   93.748497
 2020-01-06   amzn   93.000000   95.184502   93.000000   95.143997   95.143997
 2020-01-07   amzn   95.224998   95.694504   94.601997   95.343002   95.343002
 2020-01-08   amzn   94.902000   95.550003   94.321999   94.598503   94.598503
 ...           ...         ...         ...         ...         ...         ...
 2024-07-24   amzn  183.199997  185.449997  180.410004  180.830002  180.830002
 2024-07-25   amzn  182.910004  183.899994  176.800003  179.850006  179.850006
 2024-07-26   amzn  180.389999  183.190002  180.240005  182.500000  182.500000
 2024-07-29   amzn  183.839996  184.750000  182.380005  183.199997  183.199997
 2024-07-30   amzn  184.720001  185.860001  179.380005  181.710007  181.710007

               volume
 date
 2020-01-02  80580000
 2020-01-03  75288000
 2020-01-06  81236000
 2020-01-07  80898000
 2020-01-08  70160000
 ...              ...
 2024-07-24  41532400
 2024-07-25  44464200
 2024-07-26  29506000
 2024-07-29  33270100
 2024-07-30  39508600

 [1151 rows x 7 columns]]

In [17]:
# Usar en caso de trabajar con mas de un ticker
df = pd.concat(dfs, axis=0)
df.head()

,symbol,open,high,low,close,adj_close,volume
date,,,,,,,
2020-01-02,goog,67.077499,68.406998,67.077499,68.368500,68.290787,28132000
2020-01-03,goog,67.392998,68.625000,67.277199,68.032997,67.955666,23728000
2020-01-06,goog,67.500000,69.824997,67.500000,69.710503,69.631264,34646000
2020-01-07,goog,69.897003,70.149498,69.518997,69.667000,69.587814,30054000
2020-01-08,goog,69.603996,70.579002,69.542000,70.216003,70.136192,30560000

In [12]:
# Save historical data to csv 
df.to_csv('stocks_goog_20200101_to_20240731.csv')

In [5]:
# Create connection to postgres instance
db_uri = 'postgresql://postgres:postgres@postgres:5432/stocks'
engine = create_engine(db_uri)

In [6]:
# Insert historical data into postgres table 'stock_ohlc'
df.to_sql('stock_ohlc', con=engine, if_exists='append', index=True)

152

In [40]:
stock_data.reset_index(inplace=True)
stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2024-08-01,171.979996,175.679993,170.509995,172.449997,172.449997,17177800

In [41]:
stock_data['Date'] = stock_data['Date'].astype(str)
stock_data.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2024-08-01,171.979996,175.679993,170.509995,172.449997,172.449997,17177800

In [49]:
stock_data_json = stock_data.to_json(orient='records')
stock_data_json

'[{"Date":"2024-08-01","Open":171.9799957275,"High":175.6799926758,"Low":170.5099945068,"Close":172.4499969482,"Adj Close":172.4499969482,"Volume":17177800}]'

In [57]:
df = pd.read_json(stock_data_json).T
df.head()

/tmp/ipykernel_1779/2030565896.py:1: FutureWarning: Passing literal json to 'read_json' is deprecated and will be removed in a future version. To read from a literal string, wrap it in a 'StringIO' object.
  df = pd.read_json(stock_data_json).T

                         0
Date   2024-08-01 00:00:00
Open            171.979996
High            175.679993
Low             170.509995
Close           172.449997

In [17]:
data = stock_data.to_json()
data

'{"Date":{"0":1722816000000},"Open":{"0":154.2100067139},"High":{"0":162.9600067139},"Low":{"0":151.6100006104},"Close":{"0":161.0200042725},"Adj Close":{"0":161.0200042725},"Volume":{"0":82961700}}'

In [8]:
stock_data.describe()

count    1043.000000
mean      109.024967
std        25.535614
min        52.646080
25%        88.299908
50%       111.823158
75%       132.402542
max       153.334015
Name: Adj Close, dtype: float64

In [17]:
# Preprocess data
sequence_length = 10
data_sequences = preprocess_data(stock_data, sequence_length)

In [18]:
data_sequences

[]

In [16]:
# Split data into training and testing sets
train_data, test_data = split_data(data_sequences)

ValueError: With n_samples=0, test_size=0.2 and train_size=None, the resulting train set will be empty. Adjust any of the aforementioned parameters.

In [ ]:
# Prepare training data
X_train = np.array([item[0] for item in train_data])
y_train = np.array([item[1] for item in train_data])

In [17]:
X_train

array([[ 68.35554504,  67.99795532,  69.81037903, ...,  71.91896057,
         71.44750214,  71.87750244],
       [ 67.99795532,  69.81037903,  69.67553711, ...,  71.44750214,
         71.87750244,  72.42488098],
       [ 69.81037903,  69.67553711,  70.17146301, ...,  71.87750244,
         72.42488098,  73.8911972 ],
       ...,
       [105.22922516, 104.52004242, 107.30684662, ..., 105.16929626,
        105.28916168, 105.84851837],
       [104.52004242, 107.30684662, 108.74519348, ..., 105.28916168,
        105.84851837, 103.7309494 ],
       [107.30684662, 108.74519348, 105.84851837, ..., 105.84851837,
        103.7309494 , 103.59111023]])

In [18]:
y_train

array([ 72.42488098,  73.8911972 ,  74.02754211,  74.10844421,
        74.1493988 ,  73.22446442,  71.50444031,  72.44186401,
        72.75150299,  72.62914276,  71.55687714,  74.04501343,
        72.18765259,  72.21961212,  73.71389771,  73.87071991,
        75.3465271 ,  75.41644287,  75.84445953,  75.58275604,
        75.84944916,  75.88491058,  76.15609741,  75.76255035,
        74.08796692,  70.91161346,  69.23654175,  69.44380188,
        65.67212677,  66.88573456,  69.23654175,  66.80932617,
        69.00080872,  65.6626358 ,  64.71273041,  60.7198143 ,
        63.68540955,  60.47558975,  55.51378632,  60.64390182,
        53.58849716,  55.83891296,  54.49695587,  55.51977921,
        53.34926987,  52.64608002,  56.43572998,  55.0178566 ,
        58.07934189,  55.44935989,  57.24979401,  58.03089905,
        55.04182816,  55.78747559,  54.57236481,  59.09168243,
        59.060215  ,  60.28081512,  60.25933838,  60.45112228,
        63.1889801 ,  62.79293442,  62.79942322,  63.87668991,
        62.98521042,  60.53852081,  62.8483696 ,  63.48563766,
        63.75682831,  63.47015381,  61.55884933,  67.03206635,
        67.25780487,  65.7904892 ,  66.06916809,  67.37367249,
        67.19438171,  68.38551331,  69.13765717,  70.0990448 ,
        68.68017578,  67.33921051,  67.76522827,  68.57429504,
        69.17960358,  68.64122009,  70.37722778,  70.25686646,
        70.58099365,  70.9870224 ,  70.9325943 ,  70.83071136,
        71.59383392,  71.66125488,  72.03282928,  71.88000488,
        70.63393402,  71.91845703,  72.31900024,  72.52076721,
        73.15104675,  70.01464844,  70.5650177 ,  70.95556641,
        72.24059296,  72.54373932,  71.62380219,  71.15034485,
        72.44984436,  73.11508179,  71.55287933,  71.97239685,
        68.04889679,  69.77841187,  70.82121277,  72.01734161,
        73.4122467 ,  74.89653778,  74.41059875,  75.09381866,
        75.84594727,  76.86228943,  75.52482605,  75.95582581,
        75.75705719,  75.65917206,  75.7555542 ,  78.10236359,
        77.70681763,  78.15280151,  75.75056458,  75.3240509 ,
        76.38383484,  75.09631348,  76.08817291,  76.83032227,
        74.31221008,  74.05300903,  73.58055115,  73.86972046,
        75.16123199,  74.83261871,  74.75521088,  73.94213867,
        75.27560425,  75.74556732,  75.14525604,  75.72509003,
        77.6998291 ,  77.14196777,  78.72215271,  78.68819427,
        79.16664124,  80.20045471,  82.11225891,  81.33265686,
        81.87752533,  81.38310242,  82.65913391,  85.77105713,
        81.38210297,  78.96987152,  76.09266663,  77.27281952,
        76.21502686,  75.70111847,  75.35501099,  76.6680069 ,
        75.5178299 ,  74.26676178,  72.47132111,  71.42503357,
        72.90732574,  70.38871002,  71.06143951,  71.87051392,
        72.84938812,  73.21697235,  73.19599152,  74.30971527,
        72.69656372,  74.05651093,  72.46783447,  72.87336731,
        74.08647156,  75.43592072,  78.13981628,  78.2636795 ,
        78.0823822 ,  77.68434143,  78.29514313,  76.4098053 ,
        77.46509552,  79.20859528,  80.24090576,  81.55540466,
        79.12368774,  79.85235596,  75.45340729,  77.75476074,
        80.71286011,  81.12290192,  82.1886673 ,  87.19243622,
        88.02397919,  87.88563538,  87.97003937,  86.78639984,
        87.26135254,  87.04109955,  88.51141357,  88.59981537,
        87.98202515,  86.93222809,  87.82769775,  86.71947479,
        86.27897644,  88.09389496,  88.1053772 ,  89.24856567,
        87.61943817,  89.66509247,  91.14389038,  90.98757935,
        91.08346558,  90.7473526 ,  90.462677  ,  88.79109192,
        88.28118134,  88.63826752,  87.51255798,  87.95305634,
        87.7587738 ,  86.92573547,  86.21205139,  86.62857056,
        85.91239929,  86.31243896,  86.6085968 ,  88.59631348,
        87.7872467 ,  86.71298218,  87.53154755,  86.20756531,
        86.90276337,  86.04524231,  88.61530304,  89.78845215,
        87.71382904,  86.77191162,  87.26235199,  86.44678497,
        86.28197479,  89.12121582,  93.89573669,  94.09950256,
        94.51951599,  94.60541534,  95.28813934,  90.84274292,
        92.5537796 ,  91.26325226,  94.54499817,  95.84600067,
       102.82598877, 102.56378937, 104.32176971, 104.10651398,
       103.65054321, 104.20440674, 104.31777191, 104.63141632,
       105.41402435, 105.80956268, 105.16979218, 104.32077026,
       102.59525299, 102.88791656, 104.07106018, 100.6819458 ,
       100.97960663, 103.36437225, 103.10566711, 100.45520782,
       101.57991791, 104.73329926, 100.25993347, 101.90104675,
       101.69278717, 104.90660095, 102.38249969, 102.60424042,
       104.07505798, 103.99165344, 100.95114136, 101.23181915,
       101.41810608, 101.94949341, 101.51000214, 101.50650024,
       101.12044525, 102.17223358, 102.20619965, 103.00778198,
       106.36692047, 110.82080841, 110.33636475, 111.82315826,
       112.39250946, 113.40335083, 112.1023407 , 112.59227753,
       111.96699524, 114.13150787, 114.00665283, 114.35675049,
       113.81987   , 113.78691101, 112.49688721, 114.8646698 ,
       115.3640976 , 114.41768646, 117.81678772, 119.50084686,
       117.5401001 , 117.0196991 , 115.20927429, 115.6058197 ,
       116.73352814, 117.46168518, 114.45613861, 113.37287903,
       109.88638306, 111.32423401, 113.78840637, 114.31480408,
       112.99381256, 113.4447937 , 115.215271  , 114.57499695,
       117.91667175, 118.00806427, 118.87906647, 117.9985733 ,
       117.70740509, 118.92250824, 118.39362335, 117.24443817,
       119.54129791, 119.97730255, 119.78452301, 120.2589798 ,
       121.61692047, 121.37070465, 122.30513763, 121.28031158,
       120.63404846, 121.60393524, 119.97330475, 121.67285919,
       122.19026184, 121.98699188, 122.35956573, 122.36805725,
       122.3955307 , 122.13233185, 121.94953918, 122.30413818,
       125.11390686, 126.04534149, 126.32901001, 124.90065002,
       125.3746109 , 126.8299408 , 127.19551849, 128.08999634,
       126.85940552, 126.82444763, 124.43518829, 126.06481934,
       127.40278625, 128.27427673, 132.86251831, 133.88134766,
       131.7487793 , 135.93797302, 135.62184143, 134.572052  ,
       134.69992065, 135.47451782, 134.97059631, 136.0953064 ,
       135.58288574, 136.75604248, 136.650177  , 136.12278748,
       137.03672791, 137.5696106 , 138.15093994, 136.50483704,
       135.29373169, 135.52445984, 137.2719574 , 139.88096619,
       141.0995636 , 141.91612244, 141.27836609, 143.83891296,
       144.42474365, 144.53161621, 145.04902649, 143.1227417 ,
       143.57472229, 144.11509705, 143.52627563, 143.37644958,
       140.71450806, 142.16934204, 142.38108826, 144.26393127,
       143.44537354, 140.63859558, 138.56047058, 138.87362671,
       140.12268066, 141.05412292, 142.05197144, 140.91027832,
       135.67428589, 134.19947815, 133.52275085, 136.38647461,
       133.50627136, 135.86706543, 137.40730286, 139.06539917,
       139.6252594 , 138.75476074, 136.29258728, 137.42428589,
       140.98918152, 141.20593262, 142.61431885, 143.07279968,
       141.60647583, 141.7233429 , 137.40879822, 137.28944397,
       139.14880371, 146.04988098, 145.68180847, 147.87628174,
       143.33248901, 145.26577759, 146.4299469 , 148.09753418,
       148.68136597, 148.8601532 , 148.74778748, 145.72624207,
       145.59939575, 148.5075531 , 148.28181458, 147.70648193,
       147.87727356, 149.66673279, 148.75576782, 146.13427734,
       145.61488342, 145.95248413, 142.02000427, 145.36366272,
       141.73483276, 140.88980103, 142.80210876, 141.8387146 ,
       142.9908905 , 147.10067749, 148.01661682, 147.46925354,
       147.83183289, 145.65933228, 143.74201965, 146.27311707,
       144.27941895, 141.56253052, 141.44465637, 143.30802917,
       146.24714661, 146.74807739, 147.73693848, 146.5188446 ,
       146.48687744, 146.03289795, 144.6859436 , 144.82528687,
       144.23396301, 137.61705017, 137.58958435, 136.85992432,
       138.51052856, 139.57580566, 141.26835632, 138.4281311 ,
       139.32060242, 135.84210205, 134.96160889, 133.15467834,
       130.20207214, 130.65405273, 126.78948212, 129.08485413,
       128.8571167 , 133.19812012, 135.14839172, 137.48620605,
       147.83033752, 142.92596436, 143.1287384 , 139.04142761,
       139.23919678, 141.42967224, 138.46109009, 134.12857056,
       135.37063599, 136.4519043 , 137.58010864, 132.38705444,
       130.25350952, 129.66468811, 127.44173431, 132.53887939,
       134.30535889, 134.9021759 , 133.9078064 , 134.41723633,
       133.7460022 , 131.75527954, 126.23362732, 126.95879364,
       133.26704407, 132.2776947 , 129.72161865, 125.80661011,
       129.04988098, 133.12771606, 133.68557739, 135.9694519 ,
       135.94548035, 139.70765686, 138.11698914, 141.40971375,
       141.5105896 , 141.29335022, 142.34213257, 141.77578735,
       138.90808105, 139.98983765, 142.80760193, 140.42984009,
       136.39146423, 135.73272705, 133.13470459, 128.67582703,
       127.56809235, 129.74508667, 126.58472443, 127.53013611,
       129.85997009, 127.89321136, 124.67141724, 119.49835205,
       122.9329071 , 118.51398468, 114.16347504, 118.3866272 ,
       113.97868347, 116.44934845, 117.19949341, 122.12084198,
       116.37194061, 115.61380768, 112.38201904, 114.26385498,
       113.47226715, 112.71463776, 115.91746521, 114.31380463,
       116.33947754, 111.77121735, 110.25746155, 108.78314972,
       111.36019135, 105.84851837, 105.68370819, 107.66893005,
       112.18774414, 113.63158417, 113.76143646, 117.48765564,
       114.40969086, 116.68658447, 117.01519775, 117.05965424,
       114.70385742, 111.03406525, 106.27053833, 106.59316254,
       109.63867188, 105.91194916, 107.02067566, 111.41613007,
       111.35969543, 112.11332703, 117.8397522 , 115.70071411,
       111.87909698, 111.57344818, 108.83808136, 108.61284637,
       113.13315582, 114.44065857, 118.6468277 , 119.2166748 ,
       115.54389191, 113.8897934 , 111.22584534, 110.24097443,
       111.64936066, 108.90500641, 113.67952728, 113.76943207,
       114.20892334, 107.77630615, 107.3867569 , 104.8996048 ,
       112.9303894 , 114.08906555, 116.18665314, 114.72832489,
       114.99801636, 117.94464111, 118.05451202, 117.33533478,
       117.16553497, 116.49629211, 119.56277466, 118.70375824,
       121.54051208, 121.94005585, 121.56048584, 119.41295624,
       120.03224182, 117.07563019, 114.10903931, 113.72947693,
       113.55966949, 116.5162735 , 110.21350861, 109.29456329,
       108.81511688, 108.09593964, 109.61419678, 107.72636414,
       106.68755341, 109.32452393, 108.25575256, 110.52315521,
       110.73291016, 104.20040894, 104.87963104, 102.79203033,
       102.68215179, 102.95184326, 101.02405548,  99.16618347,
       100.02519989,  98.62680817,  98.05745697,  97.38822937,
        99.93531036,  97.30831909,  95.54035187,  98.52692413,
       101.52348328, 101.3137207 , 101.30373383,  98.56687927,
        97.74781799,  97.06859589,  97.44815826,  98.94643402,
        96.44930267,  99.85540009, 100.65447998,  99.51578522,
        99.85540009, 101.01406097, 102.40247345, 104.36022949,
        94.82117462,  92.1142807 ,  96.17961884,  94.4016571 ,
        90.36628723,  86.87030029,  83.33435822,  86.48075104,
        88.38855743,  88.79808807,  87.21989441,  93.83231354,
        96.29948425,  95.59028625,  98.32715607,  98.73667908,
        98.24724579,  97.31830597,  95.49040222,  96.93874359,
        98.34712982,  97.34827423,  95.93989563,  95.08087921,
       100.8742218 , 100.8742218 , 100.32485962,  99.36595917,
        96.86882782,  94.83116913,  93.60256958,  92.72358704,
        93.20302582,  95.52037048,  94.96101379,  90.75584412,
        90.15653229,  88.33861542,  88.91794586,  89.47731018,
        87.65939331,  89.12770844,  87.28981781,  85.92138672,
        88.34860229,  88.12886047,  89.01783752,  87.97902679,
        86.10118103,  87.23986816,  87.91909027,  88.31863403,
        91.41507721,  91.02552795,  92.01439667,  91.18534851,
        91.01554871,  92.94333649,  97.90763092,  99.67560577,
        97.58799744,  95.11083984,  97.40820312,  99.25608826,
        96.82887268,  98.7266922 , 100.31487274, 107.6164856 ,
       104.65988159, 102.78203583, 107.51660156,  99.25608826,
        94.9010849 ,  94.461586  ,  94.50154114,  94.57146454,
        96.82887268,  95.4005127 ,  94.24183655,  91.68477631,
        91.54493713,  90.78580475,  89.0278244 ,  89.7669754 ,
        89.95675659,  90.25641632,  91.89453125,  93.54264069,
        95.02094269,  93.75240326,  94.14195251,  92.21416473,
        90.52610016,  91.0055542 ,  93.86227417,  95.99982452,
       100.2049942 , 101.50350952, 101.10396576, 104.79972076,
       103.25150299, 105.47894287, 105.31912994, 102.34254456,
       100.91417694, 101.27376556, 100.77433777, 103.61109161,
       104.24036407, 104.5999527 , 104.35024261, 108.2957077 ,
       106.31798553, 105.22922516, 104.52004242, 107.30684662,
       108.74519348, 105.84851837, 104.38020325, 104.06056976,
       105.16929626, 105.28916168, 105.84851837, 103.7309494 ,
       103.59111023, 107.46665955])

In [ ]:
# Train linear regression model
model = train_model(X_train, y_train)

In [ ]:
# Prepare test data
X_test = np.array([item[0] for item in test_data])
y_test = np.array([item[1] for item in test_data])

In [26]:
# Last test sequence
X_test[-1]

array([145.74273682, 148.82919312, 147.36087036, 144.97361755,
       145.77270508, 142.6063385 , 140.35891724, 140.95822144,
       142.38658142, 143.92481995])

In [ ]:
last_sequence = X_test[-1].reshape(1,-1)
last_sequence

In [6]:
predicted_price = model.predict(last_sequence)[0]
predicted_price

NameError: name 'model' is not defined

In [7]:
# Evaluate model using Mean Squared Error
mse = evaluate_model(model, X_test, y_test)

# Evaluate model using R-squared
r2 = r2_score(y_test, model.predict(X_test))

NameError: name 'model' is not defined

In [35]:
# Calculate Adjusted R-squared (adjusts for number of features)
n = X_test.shape[0]  # Number of samples
p = X_test.shape[1]  # Number of features

print(f"Number of samples: {n}")
print(f"Number of features: {p}")

Number of samples: 207
Number of features: 10

In [36]:
adjusted_r2 = 1 - (1 - r2) * (n - 1) / (n - p - 1)

# Print the R-squared and adjusted R-squared
print(f'\nR-squared: {r2:.4f}')
print(f'Adjusted R-squared: {adjusted_r2:.2f}')
print(f'Mean Squared Error on Test Data: {mse: 0.2f}')

R-squared: 0.9463
Adjusted R-squared: 0.94
Mean Squared Error on Test Data:  5.03